body,
html {
    height: 100%;
    text-align: center;
    margin: 0;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 400;
    color: #666;
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pimg1,
.pimg2,
.pimg3 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 1px;
}

.pimg1 {
    background-image: url('https://wallpaperaccess.com/full/760289.jpg');
    min-height: 100%;
}

.pimg2 {
    background-image: url('https://wallpaperaccess.com/full/5771.jpg');
    min-height: 400px;
}

.pimg3 {
    background-image: url('https://cdn.pixabay.com/photo/2018/02/25/21/34/temple-3181803_960_720.jpg');
    min-height: 400px;
}

.ptext {
    color: white;
    position: absolute;
    top: 50%;
    font-size: 28px;
    text-align: center;
    width: 100%;
    letter-spacing: 8px;

}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    width: fit-content;
    margin: auto;
}

.section-light {
    background-color: whitesmoke;
    line-height: 2em;
    width: auto;
    height: auto;
    padding: 50px 80px;
}

.section-dark {
    background-color: black;
    line-height: 2em;
    width: auto;
    height: auto;
    padding: 50px 80px;
    color: white;
}

@media(max-width: 568px) {

    .pimg1,
    .pimg2,
    .pimg3 {
        background-attachment: scroll;
    }
}

.topnav {
    background-color: rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav-active {
    background-color: #04AA6D;
    color: white;
}


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

\About.html